<% include ../partials/boilerplate %>

<img class='logo' src='../images/ufc_logo.png'>
<h1>FIGHT PICK APP</h1>

<div class="main">

  <div id="login" class='login'>
    <form method='POST' action='/auth/login'>
      <input name='username' type='text' placeholder='user name' required />
      <input name='password' type='password' placeholder='password' required />
      <input class='submit' type='submit' value='Log in' />
    </form>
  </div>

</div>

<% include ../partials/end %>
