<% include ../partials/boilerplate %>

<form method='POST' action='/dashboard'>
  <input type='text' name='fullname' placeholder='title' />
  <input type='text' name='weight_class' placeholder='description' />
  <input type='submit' value='Add it!' />
</form>

<% include ../partials/end %>
